alembic==0.8.9
click==6.6
Flask==0.12
Flask-HTTPAuth==3.2.1
flask-marshmallow==0.7.0
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.6
MarkupSafe==0.23
marshmallow==2.10.5
marshmallow-sqlalchemy==0.12.0
passlib==1.7.0
python-editor==1.0.3
six==1.10.0
SQLAlchemy==1.1.4
Werkzeug==0.11.11
